.detail {
    background-color: white;
    padding: 20px;
    width: 332px;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 600px) {
    .detail {
        margin-top: -130px;
        height: auto;
    }
}